<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form id="login" class="form" action="">
        <h2 class="form__title">Login</h2>
        <input class="form__input" type="text" placeholder="Username...">
        <input class="form__input" type="password" placeholder="Password">
        <button class="form__input btn" type="submit">Log In</button>
    </form>
</div>
</body>
</html>
